@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #fff;
    background: $coyoteBrown;
    font-family: 'M PLUS 1p';
}